<link rel="stylesheet" href="https://use.typekit.net/awr7mhe.css" />
<header>
  <div class="header-logo">
    <img src="../../../assets/logo.svg" alt="DataGang" (click)="openMain()" />
  </div>
  <div class="header-links">
    <div *ngIf="authService.isAuth | async; else unAuthorized">
      <a class="header-links-list" (click)="openProfile()">{{
        userData.getUserData()?.username
      }}</a>
      <a class="header-links-list" (click)="authService.logout()">Log Out</a>
    </div>
    <ng-template #unAuthorized>
      <a class="header-links-list" (click)="openLogin()">Log In</a>
      <a class="header-links-list" (click)="openRegister()">Sug In Up</a>
    </ng-template>
    <div
      class="theme-switch"
      (click)="themeService.toggleTheme()"
      [class.dark-theme]="themeService.isDarkTheme()"
    >
      <div class="switch-background">
        <span class="text light">NIGHT</span>
        <span class="text night">LIGHT</span>
      </div>
      <div
        class="switch-thumb"
        [style.transform]="
          themeService.isDarkTheme() ? 'translateX(85px)' : 'translateX(5px)'
        "
      >
        <div class="switch-thumb">
          <svg
            class="icon moon"
            xmlns="http://www.w3.org/2000/svg"
            width="84"
            height="84"
            viewBox="0 0 84 84"
            fill="none"
          >
            <g filter="url(#filter0_f_595_365)">
              <path
                d="M59 42C59 51.3888 51.3888 59 42 59C32.6112 59 25 51.3888 25 42C25 32.6112 32.6112 25 42 25C51.3888 25 59 32.6112 59 42Z"
                fill="#B7B7B7"
              />
            </g>
            <g filter="url(#filter1_f_595_365)">
              <path
                d="M59 42C59 51.3888 51.3888 59 42 59C32.6112 59 25 51.3888 25 42C25 32.6112 32.6112 25 42 25C51.3888 25 59 32.6112 59 42Z"
                fill="#B7B7B7"
              />
            </g>
            <path
              d="M59 42C59 51.3888 51.3888 59 42 59C32.6112 59 25 51.3888 25 42C25 32.6112 32.6112 25 42 25C51.3888 25 59 32.6112 59 42Z"
              fill="url(#paint0_radial_595_365)"
            />
            <circle cx="32" cy="45" r="1" fill="#9A9A9A" />
            <circle cx="43.5" cy="56.5" r="1.5" fill="#B2B5B2" />
            <circle cx="50.5" cy="37.5" r="1.5" fill="#9D9D9D" />
            <circle cx="39.5" cy="36.5" r="4.5" fill="#9F9F9F" />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M49.3823 26.6821C52.0221 27.9567 54.2822 29.8936 55.947 32.2771C55.2426 32.7344 54.4023 32.9999 53.5 32.9999C51.0147 32.9999 49 30.9852 49 28.4999C49 27.853 49.1365 27.238 49.3823 26.6821Z"
              fill="#A9A9A9"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M54.9837 52.9743C54.8248 52.9913 54.6634 53 54.5 53C52.0147 53 50 50.9853 50 48.5C50 46.0147 52.0147 44 54.5 44C56.1987 44 57.6775 44.9412 58.4435 46.3306C57.7916 48.8123 56.5928 51.0725 54.9837 52.9743Z"
              fill="#A3A3A3"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M25.7495 36.9933C26.5071 34.5316 27.8087 32.3081 29.514 30.4634C29.8249 31.0749 30.0002 31.7671 30.0002 32.5001C30.0002 34.9018 28.1188 36.864 25.7495 36.9933Z"
              fill="#ABAAA9"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M27.2251 50.414C28.0457 49.5434 29.2095 49 30.5002 49C32.9855 49 35.0002 51.0147 35.0002 53.5C35.0002 54.7907 34.4568 55.9546 33.5863 56.7751C30.9385 55.2641 28.7362 53.0618 27.2251 50.414Z"
              fill="#A4A4A4"
            />
            <circle cx="39.5" cy="50.5" r="2.5" fill="#AAAAAA" />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M37.5 29C38.8807 29 40 27.8807 40 26.5C40 26.0095 39.8588 25.5521 39.6147 25.166C37.9917 25.3939 36.4422 25.851 35 26.5035C35.0019 27.8826 36.1204 29 37.5 29Z"
              fill="#A7A8A6"
            />
            <defs>
              <filter
                id="filter0_f_595_365"
                x="0"
                y="0"
                width="84"
                height="84"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"
                />
                <feGaussianBlur
                  stdDeviation="12.5"
                  result="effect1_foregroundBlur_595_365"
                />
              </filter>
              <filter
                id="filter1_f_595_365"
                x="15"
                y="15"
                width="54"
                height="54"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"
                />
                <feGaussianBlur
                  stdDeviation="5"
                  result="effect1_foregroundBlur_595_365"
                />
              </filter>
              <radialGradient
                id="paint0_radial_595_365"
                cx="0"
                cy="0"
                r="1"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(51 25) rotate(112.62) scale(32.5)"
              >
                <stop stop-color="#B7B7B7" />
                <stop offset="1" stop-color="#B4B4B4" />
              </radialGradient>
            </defs>
          </svg>
          <svg
            class="icon sun"
            xmlns="http://www.w3.org/2000/svg"
            width="84"
            height="84"
            viewBox="0 0 84 84"
            fill="none"
          >
            <!-- SVG солнца (ваш код) -->
            <g filter="url(#filter0_f_595_633)">
              <circle cx="42" cy="42" r="17" fill="#FFF86A" />
            </g>
            <g filter="url(#filter1_f_595_633)">
              <circle cx="42" cy="42" r="17" fill="#FFF86A" />
            </g>
            <g filter="url(#filter2_f_595_633)">
              <circle cx="42" cy="42" r="17" fill="#FFF86A" />
            </g>
            <defs>
              <filter
                id="filter0_f_595_633"
                x="0"
                y="0"
                width="84"
                height="84"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"
                />
                <feGaussianBlur
                  stdDeviation="12.5"
                  result="effect1_foregroundBlur_595_633"
                />
              </filter>
              <filter
                id="filter1_f_595_633"
                x="15"
                y="15"
                width="54"
                height="54"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"
                />
                <feGaussianBlur
                  stdDeviation="5"
                  result="effect1_foregroundBlur_595_633"
                />
              </filter>
              <filter
                id="filter2_f_595_633"
                x="24"
                y="24"
                width="36"
                height="36"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"
                />
                <feGaussianBlur
                  stdDeviation="0.5"
                  result="effect1_foregroundBlur_595_633"
                />
              </filter>
            </defs>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>
