<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
  rel="stylesheet"
/>

<div class="content" *ngIf="authService.isAuth | async">
  <div class="code-container code-part">
    <app-code-editor
      [language]="
        this.selectedLanguage === undefined ? 'c' : this.selectedLanguage
      "
    ></app-code-editor>
  </div>
  <div class="chose-part">
    <div>
      <app-chose
        [data]="arr"
        [name]="'язык'"
        [title]="'Язык программирования'"
        (selectedChange)="onLanguageChange($event)"
        styleClass="programming-lang-style"
      ></app-chose>
    </div>
    <div class="part">
      <app-chose
        [data]="onFrameworkChange()"
        [name]="'фреймворк'"
        [title]="'Framework для тестов'"
        (selectedChange)="onFramework($event)"
        styleClass="test-framework-style"
      ></app-chose>
    </div>
    <div>
      <app-chose
        [data]="[]"
        [name]="'мок'"
        [title]="'Библиотека для моков'"
        styleClass="mock-library-style"
      ></app-chose>
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <div class="btn">
        <button
          class="bttn"
          [class.dark-theme]="themeService.isDarkTheme()"
          (click)="sendMessage()"
          [disabled]="isLoading"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
