.dropdown {
  background-color: #fab689;
  border-radius: 10px;
  width: 507px;
  height: 54px;
  padding: 0px;
  margin-top: 21px;
  margin-left: 20px;
  &.dark-theme {
    background: none;
    border: 1px solid #fab689;
    box-shadow: 0 0 8px 2px rgba(235, 182, 8, 0.2),
      inset 0 0 12px 1px rgba(235, 182, 7, 0.87),
      0px 6px 1px 1px rgba(0, 0, 0, 0);
  }
}

label {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 33.75px;
  color: #ffffff;
}

.opt {
  background-color: #fab689;
  border-radius: 10px;
  &.dark-theme {
    background-color: rgb(1, 20, 27);
    border: 1px solid #fab689;
    box-shadow: 0 0 8px 2px #fab689, inset 0 0 12px 1px rgba(235, 182, 7, 0.87),
      0px 6px 1px 1px rgba(0, 0, 0, 0);
  }
}

select {
  width: 100%;
  height: 100%;
  background-color: #fab689;
  border: 1px solid #fab689;
  border-radius: 10px;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 33.75px;
  padding-left: 42px;
  color: #ffffff;
  &.dark-theme {
    background-color: rgb(1, 20, 27);
    border: 1px solid #fab689;
    box-shadow: 0 0 8px 2px #fab689, inset 0 0 12px 1px rgba(235, 182, 7, 0.87),
      0px 6px 1px 1px rgba(0, 0, 0, 0);
  }
}

select:hover {
  border-color: #fab689;
  border-radius: 10px;
  &.dark-theme {
    background: none;
    border: 1px solid #fab689;
    box-shadow: 0 0 8px 2px rgba(235, 182, 8, 0.2),
      inset 0 0 12px 1px rgba(235, 182, 7, 0.87),
      0px 6px 1px 1px rgba(0, 0, 0, 0);
  }
}

select:focus {
  border-color: #fab689;
  border-radius: 10px;
  &.dark-theme {
    background: none;
    border: 1px solid #fab689;
    box-shadow: 0 0 8px 2px rgba(235, 182, 8, 0.2),
      inset 0 0 12px 1px rgba(235, 182, 7, 0.87),
      0px 6px 1px 1px rgba(0, 0, 0, 0);
  }
}

.programming-lang-style {
  background-color: #fab689;
}

.test-framework-style {
  background-color: lightgreen;
}

.mock-library-style {
  background-color: lightcoral;
}

@media (max-width: 1900px) {
  .dropdown {
    border-radius: 8.333px;
    width: 422.5px;
    height: 45px;
    margin-top: 17.5px;
  }

  label {
    font-size: 25px;
    line-height: 28.125px;
  }

  option {
    border-radius: 8.333px;
  }

  select {
    border-radius: 8.333px;
    font-size: 25px;
    line-height: 28.125px;
    padding-left: 35px;
  }

  select:hover,
  select:focus {
    border-radius: 8.333px;
  }
}
