<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
  rel="stylesheet"
/>
<label>{{ title }}</label>
<div
  class="dropdown"
  [class.dark-theme]="themeService.isDarkTheme()"
  [ngClass]="styleClass"
>
  <select
    [class.dark-theme]="themeService.isDarkTheme()"
    (change)="onSelectChange($event)"
  >
    <option
      class="opt"
      [class.dark-theme]="themeService.isDarkTheme()"
      *ngFor="let item of data"
      [value]="item"
    >
      {{ item }}
    </option>
  </select>
</div>
