.wrapper {
  display: grid;
  margin-top: 10%;
}

label {
  font-family: Garamond;
  font-size: 30px;
  font-weight: 400;
  line-height: 33.75px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}

button {
  background-color: #ffa56a;
  font-family: Garamond;
  font-size: 30px;
  font-weight: 400;
  line-height: 33.75px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  border: none;
  border-radius: 10px;

  &.dark-theme {
    background: none;
    border: 1px solid #ffa56a;
    box-shadow: 0 0 8px 2px #ffa56a, inset 0 0 12px 1px rgba(240, 179, 11, 0.2),
      0px 6px 1px 1px rgba(0, 0, 0, 0);
  }
}

.submit-btn {
  &.dark-theme {
    background: none;
    border: 1px solid #ffa56a;
    box-shadow: 0 0 8px 2px #ffa56a, inset 0 0 12px 1px rgba(240, 179, 11, 0.2),
      0px 6px 1px 1px rgba(0, 0, 0, 0);
  }
}

.change-user-form {
  width: 510px;
  height: 494px;
  text-align: center;
  grid-row: 1;
  margin-left: 15%;
}

.user-history-data {
  width: 1030px;
  text-align: center;
  padding-top: 10px;
  grid-row: 1;
}

.change-btn {
  width: 400px;
  height: 54px;
  margin-top: 30px;
}

input {
  margin-top: 40px;
  background-color: #01141b;
  border-bottom: 2px white;
  width: 428px;
  height: 48px;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 33.75px;
  color: #5c656b;
  border-left-width: 0px;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.table_block {
  width: 100%;
  border: 2px solid white;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 33.75px;
  color: white; /* Белый текст */
  padding: 10px; /* Отступы внутри ячеек */
  text-align: center; /* Выравнивание текста по центру */
  border: 1px solid white; /* Белая граница между ячейками */
}

th:first-child {
  border-top: none;
  border-left: none;
}

th:last-child {
  border-top: none;
  border-right: none;
}
td:last-child {
  border-bottom: none;
  border-right: none;
}

td:first-child {
  border-bottom: none;
  border-left: none;
}

.open-button {
  width: 200px;
  height: 40px;
}

.open-button:hover {
  background-color: #f76809;
}
