<div class="wrapper">
  <div class="change-user-form">
    <label>Профиль пользователя</label>
    <form [formGroup]="changeUserInfoForm" (ngSubmit)="onSubmit()">
      <div class="content">
        <input
          type="text"
          id="username"
          class="user-profile__input-text"
          autocomplete="username"
          formControlName="username"
        />
        <ng-container
          *ngIf="
            changeUserInfoForm.controls['username'].invalid &&
            changeUserInfoForm.controls['username'].value.length > 0
          "
        >
          <app-validators-handler
            [errors]="changeUserInfoForm.controls['username'].errors"
          ></app-validators-handler>
        </ng-container>
      </div>
      <div class="content">
        <input
          type="text"
          id="email"
          class="user-profile__input-text"
          autocomplete="email"
          formControlName="email"
        />
        <ng-container
          *ngIf="
            changeUserInfoForm.controls['email'].invalid &&
            changeUserInfoForm.controls['email'].value.length > 0
          "
        >
        </ng-container>
      </div>
      <div class="content">
        <input
          type="password"
          id="password"
          class="user-profile__input-text"
          autocomplete="password"
          formControlName="password"
        />
        <ng-container
          *ngIf="
            changeUserInfoForm.controls['password'].invalid &&
            changeUserInfoForm.controls['password'].value.length > 0
          "
        >
          <app-validators-handler
            [errors]="changeUserInfoForm.controls['password'].errors"
          ></app-validators-handler>
        </ng-container>
      </div>
    </form>
    <ng-container *ngIf="!changeUser; else other_content">
      <button
        class="change-btn"
        [class.dark-theme]="themeService.isDarkTheme()"
        type="submit"
        (click)="changeUserInfo()"
      >
        Редактировать
      </button>
    </ng-container>
    <ng-template #other_content
      ><button
        class="submit-btn"
        [class.dark-theme]="themeService.isDarkTheme()"
        type="submit"
        [disabled]="changeUserInfoForm.invalid"
        (click)="onSubmit()"
      >
        Сохранить
      </button>
      <button
        class="submit-btn"
        [class.dark-theme]="themeService.isDarkTheme()"
        type="submit"
        (click)="cancel()"
      >
        Отменить
      </button>
    </ng-template>
  </div>
  <div class="user-history-data">
    <label>Профиль пользователя</label>
    <table class="table_block">
      <thead>
        <tr>
          <th>Время</th>
          <th>Запрос</th>
          <th>Перейти к запросу</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chat of chats">
          <td>{{ chat.createdAt | date : "YYYY-MM-dd hh:mm:ss" }}</td>
          <td>{{ chat.name }}</td>
          <td>
            <button
              class="open-button"
              [class.dark-theme]="themeService.isDarkTheme()"
              (click)="goToMessage(chat.chatId)"
            >
              Open
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
